<ul>
  {% for job in jobslist %}
    <li>
      <strong>
        <a href="{{ job.url | url }}">{{ job.data.title }}</a>
      </strong>
      -
      <time datetime="{{ job.date | htmlDateString }}">{{ job.date | readableDate }}</time>
      -
      <span>{{ job.data.description }}</span>
    </li>
  {% endfor %}
</ul>