<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-2 border-black gap-5 shadow-xl m-5 rounded-full top-3 sticky bg-white">
  <a href="/" class="font-semibold text-xl tracking-tight">To Do MCN</a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="flex items-center gap-3 flex-wrap">
    {% for entry in navPages %}
      <li class="inline">
        <a
          href="{{ entry.url }}"
          class="uppercase text-sm py-1 px-2 rounded btn btn-ghost
          {% if (entry.url in page.url and entry.url != '/') or (page.url == '/' and entry.url == '/')  %}
            font-bold hover:bg-black/20
          {% else %}
            text-zinc-500 hover:bg-black/20
          {% endif %}">
          {{ entry.title }}
        </a>
      </li>
    {% endfor %}

  </ul>

  {# You can add a button that resets the user preference for the dark-light-theme #}
  {# <button id="forgetPref" onclick="forgetPref()">Forget</button> #}

</nav>
