---
title: 
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div class="w-full h-full container mx-auto flex flex-col gap-32">
  <div class="size-full container mx-auto flex flex-col gap-24">
    <h1 class="w-full font-bold text-7xl text-center">
      We help fitness creators and brands thrive online.
    </h1>
    <h4 class="text-lg font-light leading-9 tracking-normal text-justify">
      <b class="font-bold">@ToDo Fitness MCN </b>, we connect fitness brands with top influencers and produce high-quality, engaging content across a wide variety of social media platforms. Our mission is to help creators build strong, impactful online presences. From influencer partnerships to content that motivates and inspires, we’re here to support your growth every step of the way.
    </h4>
  </div>
  <div class="size-full overlfow-x-auto ">
    {% include './_includes/components/cooperation.njk' %}
  </div>

     

    <div class="shadow-[5px_14px_240px_84px_rgba(226,_149,_75,_0.96)] bg-[rgba(226,_149,_75,_0.6)] size-full rounded-2xl z-0 p-5 gap-5">
      <!-- Responsive Grid -->
      <div class="size-full grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-2 lg:grid-flow-row gap-5">
        <!-- Card 1: Top left -->
        <div class="z-10 rounded-2xl flex flex-col items-start justify-between border-2 p-5 h-auto gap-14 bg-white">
          <h1 class="w-full break-normal text-4xl lg:text-6xl font-extrabold text-justify">1. Who are we?</h1>
          <ul class="flex flex-col gap-2 list-disc px-5 mt-5 text-justify">
            <li class="w-full break-normal text-lg font-normal">MCN organization with annual sales nearing $150 million.</li>
            <li class="w-full break-normal text-lg font-normal">Backed by over 2,000 suppliers and partners.</li>
            <li class="w-full break-normal text-lg font-normal">More than 5 million feet of overseas warehouses in North America.</li>
            <li class="w-full break-normal text-lg font-normal">Plus live broadcast and after-sales services.</li>
          </ul>
        </div>
        
        <!-- Card 2: Top right -->
        <div class="rounded-2xl flex flex-col items-start justify-between border-2 p-5 h-auto bg-white">
          <h1 class="w-full break-normal text-4xl lg:text-6xl font-extrabold">2. We offer:</h1>
          <ul class="flex flex-col gap-2 list-disc px-5 mt-5">
            <li class="w-full break-normal text-lg font-normal">Generous sales commissions.</li>
            <li class="w-full break-normal text-lg font-normal">High-quality goods.</li>
            <li class="w-full break-normal text-lg font-normal">Personalized account.</li>
          </ul>
        </div>

        <!-- Card 3: Full row below -->
        <div class="lg:col-span-2 rounded-2xl border-2 p-5 h-auto flex flex-col items-start justify-between bg-white">
          <h1 class="w-full break-normal text-4xl lg:text-6xl font-extrabold">3. Line of Business</h1>
          <div class="flex flex-col gap-5 px-1 mt-5">
            <h3 class="w-full break-normal text-lg font-normal leading-relaxed">
              We're partnering with TikTok to secure higher commissions for creators and are looking for influencers to join us and share TikTok's official bonuses. You'll have access to multiple sales channels through live broadcasts, short videos, and social media. As the saying goes...
            </h3>
            <h1 class="w-full break-normal text-2xl font-serif font-bold py-3">
              “Try not to become a man of success but rather try to become a man of value.”
            </h1>
          </div>
        </div>
      </div>
    </div>
  
  
</div>
